
.pokemon-container {
  margin: 3%;
}

.pokemon-img {
  width: 7rem;
}

.pokemon-detail {
  width: 14rem;
}

.hz-line {
  margin-top: 0.1rem;
  margin-bottom: 0;
}

.btn-page {
  margin: 5px;
}

.filter-type {
  width: 100px;
}

.progress-hz-bar {
  height: 0.7rem;
}