
.arrow-container {
    margin-right: 30px;
    margin-top: 50%
}

.move-list {
    margin-right: 5px;
}

.evo-container {
    width: 25%;
}

.evo-label {
    margin: auto;
}

.evo-type-label {
    margin: auto;
    color: #fc3;
}